$green: #84C8A4;
$greyblue: #5B7894;
$forest-green: #359567;
$light-green: #C4EB67;
$grey: #475d74;
$searchbg: #b6dcca;
$shadow: #5c7894;
$lighthouse-blue: #8c84c8;

body {
  background-color: $greyblue;
  display: grid;
  font-family: "Quicksand", sans-serif;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;  
}

h1 {
  align-self: center;
  color: white;
  font-family: "Sulphur Point", sans-serif;
  font-size: 50px;
  margin: 0%;
  padding: 0.5% 0.7% 0%;
  width: 70%;
}

h2 {
  color: $green;
  margin: 10px 0px 10px 0px;
}

h3 {
  color: $forest-green;
  cursor: pointer;
  height: 17%;
  margin: 5px 5px 10px 0px;
  transition: .8s ease;
}

h4 {
  color: #353795;
  background-color: $light-green;
  border-radius: 3px;
  margin: 10px 0px 0px 0px;
  padding: 1px 4px 1px 4px;
	width: max-content;
	display: inline-block;
}

li {
  color: black;
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  padding: 0% 0%;
	width: 100%;
}

.header-apple-icon {
	height: 40px;
	margin-left: 5px;
	width: 35px;
}

span {
  color: $light-green;
  font-weight: 400;
}

#search {
  border-radius: 15px 15px 15px 15px;
  border: 3px outset $light-green;
  box-shadow: 0px 0px 7px 0px $grey;
  display: flex;
  flex-direction: row;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  margin: 1.2% 0.5% 1.2% 0%;
  width: 100%;
}

#search-input,
#search-ingredients-input,
#mobile-search-input {
  background-color: $searchbg;
  background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(225,225,225)));
  border-radius: 10px 0px 0px 10px;
  border: none;
  box-shadow: inset -3px -1px 20px 1px $shadow;
  color: $greyblue;
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  height: 100%;
  outline: none;
  padding: 0% 2% 0% 0%;
  text-align: right;
  transition: .8s ease;
  width: 100%;
  &:hover {
    box-shadow: inset 0px 0px 0px 0px white;
    transition: .8s ease;
  }
  &:focus {
    box-shadow: inset 0px 0px 0px 0px white;
  }
  &::placeholder {
    color: $greyblue;
    font-size: 20px;
    text-align: right;
    text-shadow: none;
  }
  &:focus::placeholder {
    font-size: 0px;
    transition: .8s ease;
  }
}

#search-input:hover,
#search-ingredients-input:hover,
#mobile-search-input:hover {
  box-shadow: inset 0px 0px 0px 0px white;
  transition: .8s ease;
}

#search-input:focus,
#search-ingredients-input:focus,
#mobile-search-input:focus {
  box-shadow: inset 0px 0px 0px 0px white;
}

#search-input::placeholder,
#search-ingredients-input::placeholder,
#mobile-search-input::placeholder {
  color: #5B7894;
  font-size: 20px;
  text-align: right;
  text-shadow: none;
}

#search-input:focus::placeholder,
#search-ingredients-input:focus::placeholder,
#mobile-search-input:focus::placeholder {
  font-size: 0px;
  transition: .8s ease;
}

.search-label {
  display: none;
}

.recipe-type {
  color: $lighthouse-blue;
}

.search-btn,
.mobile-search-btn {
  border-left: 3px outset $light-green;
  border-radius: 0px 15px 15px 0px;
  padding: 1%;
}

.nav-btn,
.mobile-nav-btn {
  align-items: center;
  background: #5B7894 no-repeat;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0px;
  font-weight: 700;
  justify-content: center;
  margin: 0%;
  outline: none;
  overflow: hidden;
  text-align: center;
  transition: .4s ease;
  width: 15%;
  &:hover {
    color: $light-green;
    font-size: 14px;
    text-shadow: 0px 2px 4px black;
    transition: .4s ease;
  }
  &:focus {
    border: solid green 2px;
  }
}
.nav-btn img,
.mobile-nav-btn img {
   max-height: 50px;
   max-width: 50px;
  padding: 2px 0px;
}

.saved-ingredients-btn {
  border-left: 3px solid $light-green;
}

.recipe-icon {
  height: 50px;
  width: auto;
}

.recipe-icon-card {
  height: 50px;
  width: 50px;
  bottom: 7px;
  position: absolute;
  z-index: 1;
}

.button-holder {
  height: 59px;
  width: 110px;
  position: absolute;
  bottom: 0;
  left: 160px;
}

.ing-pan-btn {
  margin: 1% 0%;
  padding: 1px 6px 5px 0px;
}

.saved-recipes-to-cook {
  border-left: 3px solid $light-green;
  padding: 1px 6px 5px 0px;
}

/* BANNER IMAGE*/
.banner-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("../images/green-apples.jpg");
  grid-area: image;
  height: 150px;
  overflow: hidden;
  width: 100%;
}

.my-recipes-banner,
.welcome-msg,
.to-cook-banner {
  text-align: center;
  width: 95%;
}

.my-recipes-banner h1,
.to-cook-banner h1,
.welcome-msg h1 {
  color: white;
  width: 100%;
}

.my-recipes-banner,
.to-cook-banner  {
  display: none;
  margin-top: 25px;
}

.home-button {
  display: inline-block;
  align-self: center;
  right: 522px;
  bottom: 436px;
}

.welcome-msg {
  margin-top: 50px;
}

/* FILTER SIDEBAR */
.aside {
  background-color: white;
  display: flex;
  justify-content: center;
  height: auto;
  text-align: center;
}

.wrap {
  background-color: white;
  height: 100vh;
  padding: 10px;
  position: relative;
  width: 200px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding-left: 35px;
}

li {
  margin: 2px;
}

/* RECIPE CARD SECTION */
main, .recipe-card-container {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe-card {
  background-color: white;
  border: 2px solid $light-green;
  border-radius: 7px;
  cursor: pointer;
	height: 329px;
  margin: 20px;
  padding: 15px;
	width: 250px;
	position: relative;
  &:hover .card-photo-preview {
    opacity: 50%;
    transition: .8s ease;
  }
  &:hover .text {
    font-size: 20px;
    opacity: 100%;
    transition: .5s ease;
    width: 100%;
  }
  &:hover h3 {
    text-shadow: 0px 0px 4px $light-green;
    transition: .8s ease;
  }
}

.card-apple-icon {
  cursor: pointer;
  float: right;
  height: 50px;
	padding-bottom: 10px;
	padding-right: 11px;
	width: 45px;
	position: absolute;
	bottom: 0;
	right: 0;	
}

.card-photo-preview {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  cursor: pointer;
  height: 130px;
  transition: .8s ease;
  width: 100%;
}

.card-photo-container {
  align-items: center;
  display: flex;
  height: 130px;
  justify-content: center;
  position: relative;
}

.text {
  background: $forest-green;
  color: white;
  font-weight: 700;
  font-size: 0px;
  opacity: 0%;
  padding: 0%;
  position: absolute;
  text-align: center;
  width: 0%;
  transition: .5s ease;
}

/* BUTTONS */
.show-pantry-recipes-btn,
.show-all-btn,
#modify-pantry-btn,
.filter-btn,
.mobile-filter-btn {
  background-color: #3e668c;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}

.show-pantry-recipes-btn,
#modify-pantry-btn {
  margin-top: 10px;
}

.show-all-btn {
  height: 40px;
  margin-top: 20px;
  width: 200px;
}

.filter-btn:hover {
  background-color: $green;
}

/* PANTRY LIST */
.drop-menu {
  align-items: center;
  background-color: #DAE4EE;
  display: none;
  height: 600px;
  margin-left: 81%;
  margin-top: 92px;
  overflow: scroll;
  padding: 12px;
  position: absolute;
  text-align: center;
  width: 250px;
  z-index: 3;
  & h2 {
    color: $forest-green;
    margin: 0px;
  }
}
.pantry-list {
  color: #000000;
  padding-left: 15px;
  text-align: left;
}

/* RECIPE INSTRUCTIONS */
.recipe-instructions {
  background: white;
  border: 3px solid $light-green;
  border-radius: 10px;
  box-shadow: 1px 1px 115px black;
  display: none;
  height: 70%;
  margin: 0;
  overflow-x: scroll;
  padding: 1% 1% 1% 1%;
  position: fixed;
  right: 15%;
  top: 15%;
  width: 70%;
  z-index: 1000;
}

#exit-recipe-btn {
  background: white;
  border: 2px double $forest-green;
  border-radius: 5px;
  color: $forest-green;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin: -4% -3% 2% -1%;
  position: fixed;
  transition: .3s ease;
  &:hover {
    background: $light-green;
    transition: .3s ease;
  }
}

#recipe-title {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px 7px 0px 0px;
  color: white;
  font-size: 30px;
  margin: 0;
  padding: 5%;
  text-align: center;
  text-shadow: 0px 0px 6px black;
}

.recipe-instructions h4 {
  background: white;
  color: $forest-green;
}

.recipe-instructions p {
  margin-left: 2%;
}

.recipe-instructions ol {
  margin-right: 2%;
}

#overlay {
  filter:alpha(opacity=50);
  background-color: $greyblue;
  height:100%;
  left:0;
  opacity:0.5;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}

#post-to-pantry {
  align-items: center;
  background: white;
  border: 3px solid $light-green;
  border-radius: 10px;
  box-shadow: 1px 1px 115px black;
  display: none;
  flex-direction: column;
  height: 60%;
  margin: 0;
  overflow-x: scroll;
  padding: 5%;
  position: fixed;
  top: 15%;
  width: 30%;
  z-index: 1000;
}

.search-ingredients-btn {
  background-color:  #5B7894;  
  border: none;
  border-radius: 0px 7px 7px 0px;
  box-shadow: none;
  padding: 1%;
  width: 20%;
}

#save-changes-btn {
  justify-self: flex-end;
}

#search-ingredients-input {
  border-radius: 7px 0px 0px 7px;
}

#search-ingredients {
  border-radius: 10px;
  border: 3px outset #C4EB67;
  box-shadow: 0px 0px 7px 0px #475d74;
  display: flex;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  margin: 1.2% 0.5% 1.2% 0%;
  width: 100%;
  height: 10%
}

#modify-pantry-title {
  font-size: 2em;
}

#search-ingredients-icon {
  width: 60%
}

#searched-ingredient-results {
  width: 100%
}

#save-changes-btn {
  height: 7%;
  background-color: #475d74;
  color: white;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  border: none;
  margin-top: 5%;
  width: 25%;
}

.searched-ingredient {
  display: flex; 
  margin-top: 5%
}

#add-subtract {
  display: flex;
  border: solid 2px #475d74;
  border-radius: 7px;
  margin: 0;
  height: 10%;
  width: 20%
}

#minus, 
#plus {
  border: 0;
  color: white;
  background-color: #475d74;
  width: 30%;
  border-radius: 3px 0px 0px 3px
}

#ingred-name {
  margin: 0 0 0 4%
}

.amount {
  border-color: #475d74;
  border-radius: 0;
  margin: 0;
  text-align: center;
  width: 40%;
  border: 0;
}

.hide {
	display: none;
}


@media only screen and (max-width: 700px) {
	body {
		display: block;

		.aside, 
		#blockColorblindContent,
		#search,
		header {
			display: none!important;
		}

		.main-title{
			display: flex;
		}
		
		.menu-button, 
		.menu-close,
		.feather {
			position: absolute;
			right: 0px;
			top: 0px;
			height: 5vh;
			color: #fff;
		}

		.mobile-buttons {
			display: flex;
			justify-content: space-evenly;
		}

		.mobile-menu {
			display: flex!important;
			height: 100px;
			z-index: 2;
			position: relative;
		}

		.open-style {
			display: flex;
			flex-direction: column;
			height: 450px;
			justify-content: space-between;
		}

		#mobile-search {
			display: flex;
			min-width: 300px;
			max-width: 450px;
			margin: 0 auto;
			.mobile-nav-btn {
				margin: 0 auto;
			}
		}
		
		#mobile-search-input {
			max-height: 70px;
		}

		.menu-body-style {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 400px;
			.saved-ingredients-btn,
			.saved-recipes-to-cook {
				padding: 5px;
				border-left: none;
			}
		}

		.mobile-filter-btn {
			display: block;
			margin: 0 auto;
			margin-top: 17px;
		}

		.drop-menu {
			display: none;
			position: absolute;
			align-items: center;
			background-color: #DAE4EE;
			height: 600px;
			width: 229px;
			overflow: scroll;
			padding: 15px;
			text-align: center;
			z-index: 3;
			top: 38%;
			right: 26%;
		}

		#post-to-pantry {
			width: 75%;
		}

		.mobile-aside {
			display: flex;
			justify-content: center;
			height: 0px;
			text-align: center;
			background: white;
			.mobile-wrap {
				position: relative;
				z-index: 2;
				width: 200px;
				height: 520px;
				background: white;
				top: 43%;
			}
		}
	}
}

// 	.mobile-cards {
// 		z-index: 1;
//     position: relative;
// 	}

// 	.banner-image {
// 		z-index: 1;
//     position: relative;
// 	}
// }

// .gray-1 {
  //   background: darkgray;
  //   height: 100%;
  //   opacity: 80%;
  //   position: absolute;
  //   width: 100%;
  //   z-index: 2;
	// }